numpy>=2.2.6 # numerical computing library
scipy>=1.11.1 # scientific computation tools
pybullet>=3.2.7 # physics engine used for simulation
open3d>=0.19.0 # point cloud processing tools
opencv-python>=4.11.0.86 # computer vision tools
matplotlib>=3.3.4 # plotting tools
pybullet-planning-eaa # pure python motion planning
trimesh==3.9.20 # mesh processing tools
xatlas==0.0.7 # mesh parametrisation
transforms3d>=0.4.1