<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="0.80"/>
      <rolling_friction value="0.000"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
    <origin rpy="0 0 0" xyz="-0.000220 -0.000202 0.139692"/>
       <mass value="0.146"/>
       <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="textured_simple2.obj" scale="0.001000 0.001000 0.001000"/>
      </geometry>
      <material name="white">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="collision_simple_vhacd.obj" scale="0.001000 0.001000 0.001000"/>
      </geometry>
    </collision>
  </link>
</robot>
