# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: PythonOnlyCI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
  # ruff:
  #   runs-on: ubuntu-latest
  #   needs: [black]
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: chartboost/ruff-action@v1
  build:
    runs-on: ubuntu-latest
    needs: [black]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install ".[dev]"
      # - run: |
      #     pylint $(git ls-files '*.py') # todo: fix linting
      - name: Test with pytest
        run: |
          coverage run -m pytest
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
